# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs / outputs
logs/
model/

# Data (обычно не коммитят)
data/raw/
data/preprocessed/

# Артефакты/картинки результатов (если не хочешь хранить в репо)
*.png
results.txt