# requirements.txt
# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu130

unsloth
transformers
tensorboard
trl
datasets
peft
accelerate
click
bitsandbytes
safetensors
tokenizers
huggingface-hub
evaluate
rouge-score
numpy
scipy
tqdm
regex
jinja2
sentencepiece
protobuf